<!-- LOGO -->
<div id="logo">
  <a href="/"><i class="fa-solid fa-qrcode"></i> QR Code Generator</a>
</div>

<style>
  #logo {
    font-family: var(--font-brand);
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  a {
    color: var(--color-white);
  }

  a:hover {
    color: var(--color-accent-secondary);
    transition: .2s;
  }
</style>