---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import About from '../components/About.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<Navbar />
		</header>
		<main>
			<slot />
		</main>
		<About />
		<Footer />
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Inter&family=Rubik:wght@300;400;600&display=swap');

	:root {
		--accent: 136, 58, 234;
		--accent-light: rgb(224, 204, 250);
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(45deg, var(--accent), rgb(var(--accent-light)) 30%, white 60%);
	
		--color-black: #1c1b1d;
		--color-black-transparent: ;
		--color-black-transparent-border: ;
		--color-white: rgb(244, 241, 241);
		--color-white-transparent: rgba(255, 255, 255, 0.106);
		--color-white-transparent-border: 1px solid rgba(255, 255, 255, 0.348);
		--color-accent: #1c1b1d;
		--color-accent-shade: rgb(34, 50, 68);
		--color-accent-gradient: linear-gradient(45deg, var(--color-accent), var(--color-accent-shade));
		--color-accent-secondary: rgb(91, 188, 178);
		--border-radius-xs: 3px;
		--border-radius-sm: 6px;
		--border-radius-lg: 20px;
		--font-brand: 'Rubik', sans-serif;
		--font-body: 'Inter', sans-serif;
	}

	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		scroll-behavior: smooth;
	}
	
	html {
		font-family: system-ui, sans-serif;
		background-image: var(--color-accent-gradient);
	}

	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		color: black;
		font-family: var(--font-body);
	}

	main {
		flex-grow: 1;
	}
	
	section {
		padding-top: 40px;
	}

	.container {
		width: 100%;
		max-width: 1100px;
    padding: 20px 24px;
		margin: auto;
	}

	p {
		max-width: 500px;
		font-size: .9em;
	}

	a {
		text-decoration: none;
	}
	
	.gradient-text {
		background-image: linear-gradient(45deg, rgb(168, 146, 248), rgb(132, 210, 203), rgb(240, 244, 234));
		background-size: 100%;
		background-repeat: repeat;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent; 
		-moz-background-clip: text;
		-moz-text-fill-color: transparent;
	}

	hr {
    opacity: .1;
  }
	
	/* FOR QR COMPONENT */
	a#save-link {
		flex: 1;
    background-color: var(--color-accent-secondary);
    color: var(--color-black);
    border-radius: var(--border-radius-sm);
    border: 1px solid black;
		padding: 12px;
		text-align: center;
		font-family: var(--font-body);
		font-size: .8em;
		font-weight: bold;
	}

</style>

<!-- FONT AWESOME ICONS -->
<script src="https://kit.fontawesome.com/67b26fcce6.js" crossorigin="anonymous"></script>